<html>
  <head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <h1>notify schedul</h1>
      <h1 class="this-month">2021年 2月</h1>
      <div class="menu">
        <button id="prev" class="indication", type="button">＜前の月</button>
        <p class="indication">今日の日付</p>
        <button id="next" class="indication", type="button">次の月＞</button>
      <table class="main-calender">
        <thead class="week-days">
          <tr>
            <th class="sunday">日</th>
            <th class="week-day">月</th>
            <th class="week-day">火</th>
            <th class="week-day">水</th>
            <th class="week-day">木</th>
            <th class="week-day">金</th>
            <th class="saturday">土</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="day">1日</th>
            <th class="day">2日</th>
            <th class="day">3日</th>
            <th class="day">4日</th>
            <th class="day">5日</th>
            <th class="day">6日</th>
            <th class="day">7日</th>
          <tr>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
          <tr>
            <th class="day">8</th>
            <th class="day">9</th>
            <th class="day">10</th>
            <th class="day">11</th>
            <th class="day">12</th>
            <th class="day">13</th>
            <th class="day">14</th>
          <tr>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
          <tr>
            <th class="day">15</th>
            <th class="day">16</th>
            <th class="day">17</th>
            <th class="day">18</th>
            <th class="day">19</th>
            <th class="day">20</th>
            <th class="day">21</th>
          <tr>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
          <tr>
            <th class="day">22</th>
            <th class="day">23</th>
            <th class="day">24</th>
            <th class="day">25</th>
            <th class="day">26</th>
            <th class="day">27</th>
            <th class="day">28</th>
          <tr>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
          <tr>
            <th class="day">29</th>
            <th class="day">30</th>
            <th class="day">31</th>
            <th class="day"></th>
            <th class="day"></th>
            <th class="day"></th>
            <th class="day"></th>
          <tr>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
          <tr>
            <th class="day"></th>
            <th class="day"></th>
            <th class="day"></th>
            <th class="day"></th>
            <th class="day"></th>
            <th class="day"></th>
            <th class="day"></th>
          <tr>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
            <th class="plan"></th>
          </tr>
        </tbody>
      </table>
  </body>
</html>